@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 197.1 88.9% 94.5%;
    --foreground: 224 71.4% 4.1%;
    --card: 197 89% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 197 89% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 196.8 77.1% 52.7%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 95%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 90%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 120 73.4% 74.9%;
    --accent-foreground: 120 50% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20.2% 85.1%;
    --input: 215 20.2% 90.1%;
    --ring: 196.8 77.1% 52.7%;
    --chart-1: 197 77% 53%;
    --chart-2: 120 73% 75%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 280 65% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 196.8 77.1% 52.7%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 120 65% 35%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 196.8 77.1% 52.7%;
    --chart-1: 197 70% 50%;
    --chart-2: 120 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
